*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: sans-serif;
  line-height: 1.25;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  fill: currentColor;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  margin: 1rem;

  & > p {
    margin: 0;

    &:first-child {
      font-weight: bold;
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  > h1 {
    font-size: 1.5rem;
  }

  > svg {
    $size: 128px;

    width: $size;
    height: $size;

    animation: spin 20s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
